[Unit]
Description=UDP MQTT Gateway
After=network.target

[Service]
Restart=always
TimeoutStartSec=10
ExecStart=/usr/local/bin/udpmqttgw

[Install]
WantedBy=multi-user.target
